.properties {
    background-color: #edf6f9
}

body {
  margin: 0;
}

body {
  background: linear-gradient(to right top, #c69 50%, #ddd 50%);
  background-size: 100% calc(100% - 100vh + 6px);
  background-repeat: no-repeat;
}

body:before {
  content: '';
  position: fixed;
  top: 6px;
  bottom: 0;
  width: 100%;
  z-index: -2;
  background: white;
}

.navbar-fixed-top {
    top: 7px;
}

.navbar.affix {
    top: 50px;
  }
h1[id]:before,
h2[id]:before,
h3[id]:before,
h4[id]:before,
h5[id]:before,
h6[id]:before,
a[name]:before {
    display:block; 
    content:""; 
    height:9px; 
    margin:-9px 0 0; 
}

.nopub {
    display: none
}

a tt {
    color: #ee5f5b;
}
a:hover tt, a:focus tt {
    color: #005580;
}
a {
    color: #ee5f5b;
    position: relative;
    text-decoration: none;
    padding-bottom: 4px;
    transition: 0.3s color ease-in-out;
}
a:focus, a:hover, a:hover tt, a:focus tt {
    text-decoration: none;
    transition: 0.3s color ease-in-out;
}
a:before, a:after {
    content: '';
    position: absolute;
    bottom: 2px;
    left: 0;
    right: 0;
    height: 2px;
    background-color: #ee5f5b;
    transition: .3s all ease-in-out;
    opacity: 0;
    transform: translateY(8px);
    text-decoration: none;
}
a:hover:before, a:hover:after, a:focus:before, a:focus:after {
    opacity: 1;
    transform: translateY(0);
    transition: .3s all ease-in-out;
}

div.navbar a:before, div.navbar a:after {
    background-color: transparent;
}
