/test-output/
/target/
/.settings/
/.classpath
/.project
**/.DS_Store
/.factorypath
/tomcat.8080
/src/server/tomcat.8080/logs
/src/server/tomcat.8080/temp
/src/server/tomcat.8080/webapps
/src/server/tomcat.8080/work
