body {
  margin: 0;
}

.scroller {
  position: fixed;
  top: 0;
  height: 0;
  width: 100%;
  background: white;
}

body {
  background: linear-gradient(to right top, #c69 50%, #ddd 50%);
  background-size: 100% calc(100% - 100vh + 6px);
  background-repeat: no-repeat;
}

body:before {
  content: '';
  position: fixed;
  top: 6px;
  bottom: 0;
  width: 100%;
  z-index: -2;
  background: white;
}

.navbar-fixed-top {
    top: 7px;
}

.navbar.affix {
    top: 50px;
}

h1[id]:before,
h2[id]:before,
h3[id]:before,
h4[id]:before,
h5[id]:before,
h6[id]:before,
a[name]:before {
    display:block; 
    content:""; 
    height:9px; 
    margin:-9px 0 0; 
}

.nopub {
    display: none
}

.table {
    width: auto;
}

a tt {
    color: #ee5f5b;
}
a:hover tt, a:focus tt {
    color: #005580;
}
a {
    color: #ee5f5b;
    position: relative;
    text-decoration: none;
    padding-bottom: 4px;
    transition: 0.3s color ease-in-out;
}
a:focus, a:hover, a:hover tt, a:focus tt {
    text-decoration: none;
    transition: 0.3s color ease-in-out;
}
a:before, a:after {
    content: '';
    position: absolute;
    bottom: 2px;
    left: 0;
    right: 0;
    height: 2px;
    background-color: #ee5f5b;
    transition: .3s all ease-in-out;
    opacity: 0;
    transform: translateY(8px);
    text-decoration: none;
}
a:hover:before, a:hover:after, a:focus:before, a:focus:after {
    opacity: 1;
    transform: translateY(0);
    transition: .3s all ease-in-out;
}

div.navbar a:before, div.navbar a:after {
    background-color: transparent;
}

a.externalLink[href^=https] {
    background: url(../images/internet-web-browser.png) right center no-repeat;
    padding-right: 18px;
}

/*
<div class="accordion">
    <div class="item">
      <input id="acc1" type="radio" name="myacc" checked="checked"></input>
      <label for="acc1">Acc 1</label>
      <div class="content">
      Content 1
      </div>
    </div>
    <div class="item">
      <input id="acc2" type="radio" name="myacc"></input>
      <label for="acc2">Acc 2</label>
      <div class="content">
      Content 2
      </div>
    </div>
</div>
*/
div.accordion .item {
  display: inline;
}

div.accordion .content {
  display: none;
  padding: 10px 0 0;
  border-top: 1px solid #ddd;
}

div.accordion input {
  display: none;
}

div.accordion input:checked ~ .content {
  display: block;
}

div.accordion label {
  margin: 0 0 -1px;
  padding: 10px 10px;
  font-weight: 600;
  text-align: center;
  color: #bbb;
  border: 1px solid transparent;
}

div.accordion label:before {
  font-weight: normal;
  margin-right: 10px;
}

div.accordion label:hover {
  color: #888;
  cursor: pointer;
}

div.accordion input:checked + label {
  color: #555;
  border: 1px solid #ddd;
  border-top: 2px solid #ee5f5b;
  border-bottom: 1px solid #fff;
}

/*
<div class="tabs">
  <input class="tab1" id="TAB1" type="radio" name="mytabs" checked="checked"></input>
  <label for="TAB1">Tab 1</label>
  <input class="tab2" id="TAB2" type="radio" name="mytabs"></input>
  <label for="TAB2">Tab 2</label>
  <div class="tab1">
  Content 1
  </div>
  <div class="tab2">
  Content 2
  </div>
</div>
*/
div.tabs div[class^="tab"] {
  display: none;
  padding: 10px 0 0;
  border-top: 1px solid #ddd;
}

div.tabs input.tab1:checked ~ .tab1,
div.tabs input.tab2:checked ~ .tab2,
div.tabs input.tab3:checked ~ .tab3,
div.tabs input.tab4:checked ~ .tab4,
div.tabs input.tab5:checked ~ .tab5,
div.tabs input.tab6:checked ~ .tab6,
div.tabs input.tab7:checked ~ .tab7,
div.tabs input.tab8:checked ~ .tab8,
div.tabs input.tab9:checked ~ .tab9,
div.tabs input.tab0:checked ~ .tab0 {
  display: block;
}

div.tabs input {
  display: none;
}

div.tabs label {
  display: inline-block;
  margin: 0 0 -1px;
  padding: 10px 10px;
  font-weight: 600;
  text-align: center;
  color: #bbb;
  border: 1px solid transparent;
}

div.tabs label:before {
  font-weight: normal;
  margin-right: 10px;
}

div.tabs label:hover {
  color: #888;
  cursor: pointer;
}

div.tabs input:checked + label {
  color: #555;
  border: 1px solid #ddd;
  border-top: 2px solid #ee5f5b;
  border-bottom: 1px solid #fff;
}
